# Pandas Exercise: Time Series (Getting Financial Data - Google Finance)

### Step 1. Import the necessary libraries

In [65]:
import pandas as pd
import quandl

* Google Finance API is not working so I have used Quandl API for data

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [66]:
start='01-01-2015'
end='17-08-2018'

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [67]:
stock=['EOD/AAPL','EOD/IBM','SSE/TL0']

### Step 4. Read the data from google, assign to df and print it

In [68]:
quandl.ApiConfig.api_key='83dh9uBg6s2UyUht1N6z'
df=quandl.get(stock,start_date=start,end_date=end)

In [69]:
df.tail()

,EOD/AAPL - Open,EOD/AAPL - High,EOD/AAPL - Low,EOD/AAPL - Close,EOD/AAPL - Volume,EOD/AAPL - Dividend,EOD/AAPL - Split,EOD/AAPL - Adj_Open,EOD/AAPL - Adj_High,EOD/AAPL - Adj_Low,...,EOD/IBM - Adj_Open,EOD/IBM - Adj_High,EOD/IBM - Adj_Low,EOD/IBM - Adj_Close,EOD/IBM - Adj_Volume,SSE/TL0 - High,SSE/TL0 - Low,SSE/TL0 - Last,SSE/TL0 - Previous Day Price,SSE/TL0 - Volume
Date,,,,,,,,,,,,,,,,,,,,,
2018-08-13,207.700,210.9520,207.70,208.87,25890880.0,0.0,1.0,207.700,210.9520,207.70,...,144.15,144.30,142.53,142.71,2858561.0,321.00,305.69,312.47,312.10,1767.0
2018-08-14,210.155,210.5600,208.26,209.75,20748010.0,0.0,1.0,210.155,210.5600,208.26,...,143.00,143.82,142.93,143.36,2860006.0,315.00,310.81,312.85,312.10,284.0
2018-08-15,209.220,210.7400,208.33,210.24,28807564.0,0.0,1.0,209.220,210.7400,208.33,...,142.55,144.00,142.00,143.91,4241068.0,308.28,294.36,297.07,312.85,522.0
2018-08-16,211.750,213.8121,211.47,213.32,28500367.0,0.0,1.0,211.750,213.8121,211.47,...,144.37,145.68,144.37,145.34,5250878.0,301.78,293.09,296.71,297.07,203.0
2018-08-17,213.440,217.9500,213.16,217.58,35426997.0,0.0,1.0,213.440,217.9500,213.16,...,144.79,146.39,144.69,146.06,2678645.0,294.90,270.00,272.43,296.71,349.0

### Step 5.  What is the type of structure of df ?

In [70]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [71]:
df.items

<bound method DataFrame.iteritems of             EOD/AAPL - Open  EOD/AAPL - High  EOD/AAPL - Low  \
Date
2015-01-02         111.3900         111.4400        107.3500
2015-01-05         108.2900         108.6500        105.4100
2015-01-06         106.5400         107.4300        104.6300
2015-01-07         107.2000         108.2000        106.6950
2015-01-08         109.2300         112.1500        108.7000
2015-01-09         112.6700         113.2500        110.2100
2015-01-12         112.6000         112.6300        108.8000
2015-01-13         111.4300         112.8000        108.9100
2015-01-14         109.0400         110.4900        108.5000
2015-01-15         110.0000         110.0600        106.6600
2015-01-16         107.0300         107.5800        105.2000
2015-01-19              NaN              NaN             NaN
2015-01-20         107.8400         108.9667        106.5000
2015-01-21         108.9500         111.0600        108.2700
2015-01-22         110.2600         112.4700        109.7200
2015-01-23         112.3000         113.7500        111.5300
2015-01-26         113.7400         114.3626        112.8000
2015-01-27         112.4200         112.4800        109.0300
2015-01-28         117.6250         118.1200        115.3100
2015-01-29         116.3200         119.1900        115.5600
2015-01-30         118.4000         120.0000        116.8500
2015-02-02         118.0500         119.1700        116.0800
2015-02-03         118.5000         119.0900        117.6100
2015-02-04         118.5000         120.5100        118.3090
2015-02-05         120.0200         120.2300        119.2500
2015-02-06         120.0200         120.2500        118.4500
2015-02-09         118.5500         119.8400        118.4300
2015-02-10         120.1700         122.1500        120.1600
2015-02-11         122.7700         124.9200        122.5000
2015-02-12         126.0600         127.4800        125.5700
...                     ...              ...             ...
2018-07-09         189.5000         190.6800        189.3000
2018-07-10         190.7100         191.2800        190.1801
2018-07-11         188.5000         189.7799        187.6100
2018-07-12         189.5300         191.4100        189.3100
2018-07-13         191.0800         191.8400        190.9000
2018-07-16         191.5200         192.6500        190.4150
2018-07-17         189.7500         191.8700        189.2000
2018-07-18         191.7800         191.8000        189.9300
2018-07-19         189.6900         192.5500        189.6900
2018-07-20         191.7800         192.4300        190.1700
2018-07-23         190.6800         191.9600        189.5600
2018-07-24         192.4500         193.6601        192.0500
2018-07-25         193.0602         194.8500        192.4300
2018-07-26         194.6100         195.9600        193.6100
2018-07-27         194.9900         195.1900        190.1000
2018-07-30         191.9000         192.2000        189.0700
2018-07-31         190.3000         192.1400        189.3400
2018-08-01         199.1300         201.7600        197.3100
2018-08-02         200.5800         208.3800        200.3500
2018-08-03         207.0300         208.7400        205.4803
2018-08-06         208.0000         209.2500        207.0700
2018-08-07         209.3200         209.5000        206.7600
2018-08-08         206.0500         207.8100        204.5200
2018-08-09         207.2800         209.7800        207.2000
2018-08-10         207.3600         209.1000        206.6700
2018-08-13         207.7000         210.9520        207.7000
2018-08-14         210.1550         210.5600        208.2600
2018-08-15         209.2200         210.7400        208.3300
2018-08-16         211.7500         213.8121        211.4700
2018-08-17         213.4400         217.9500        213.1600

            EOD/AAPL - Close  EOD/AAPL - Volume  EOD/AAPL - Dividend  \
Date
2015-01-02            109.33         53204626.0                 0.00
2015-01-05            106.25         64285491.0                 0.00
2015-01-06            106.26         65797116.0                 0.00
2015-01-07            107.75         40105934.0                 0.00
2015-01-08            111.89         59364547.0                 0.00
2015-01-09            112.01         53315099.0                 0.00
2015-01-12            109.25         49650790.0                 0.00
2015-01-13            110.22         67091928.0                 0.00
2015-01-14            109.80         48956588.0                 0.00
2015-01-15            106.82         60013996.0                 0.00
2015-01-16            105.99         78513345.0                 0.00
2015-01-19               NaN                NaN                  NaN
2015-01-20            108.72         49899907.0                 0.00
2015-01-21            109.55         48575897.0                 0.00
2015-01-22            112.40         53796409.0                 0.00
2015-01-23            112.98         46464828.0                 0.00
2015-01-26            113.10         55614979.0                 0.00
2015-01-27            109.14         95568749.0                 0.00
2015-01-28            115.31        146477063.0                 0.00
2015-01-29            118.90         84436432.0                 0.00
2015-01-30            117.16         83745461.0                 0.00
2015-02-02            118.63         62739100.0                 0.00
2015-02-03            118.65         51915749.0                 0.00
2015-02-04            119.56         70149743.0                 0.00
2015-02-05            119.94         42246245.0                 0.47
2015-02-06            118.93         43706567.0                 0.00
2015-02-09            119.72         38889797.0                 0.00
2015-02-10            122.02         62008506.0                 0.00
2015-02-11            124.88         73561797.0                 0.00
2015-02-12            126.46         74474466.0                 0.00
...                      ...                ...                  ...
2018-07-09            190.58         19756634.0                 0.00
2018-07-10            190.35         15939149.0                 0.00
2018-07-11            187.88         18831470.0                 0.00
2018-07-12            191.03         18041131.0                 0.00
2018-07-13            191.33         12519792.0                 0.00
2018-07-16            190.91         15043110.0                 0.00
2018-07-17            191.45         15534523.0                 0.00
2018-07-18            190.40         16393381.0                 0.00
2018-07-19            191.88         20286752.0                 0.00
2018-07-20            191.44         20706042.0                 0.00
2018-07-23            191.61         15989365.0                 0.00
2018-07-24            193.00         18697898.0                 0.00
2018-07-25            194.82         16826483.0                 0.00
2018-07-26            194.21         19075964.0                 0.00
2018-07-27            190.98         24023972.0                 0.00
2018-07-30            189.91         21029535.0                 0.00
2018-07-31            190.29         39373038.0                 0.00
2018-08-01            201.50         67935716.0                 0.00
2018-08-02            207.39         62404012.0                 0.00
2018-08-03            207.99         33447396.0                 0.00
2018-08-06            209.07         25425387.0                 0.00
2018-08-07            207.11         25587387.0                 0.00
2018-08-08            207.25         22525487.0                 0.00
2018-08-09            208.88         23492626.0                 0.00
2018-08-10            207.53         24611202.0                 0.73
2018-08-13            208.87         25890880.0                 0.00
2018-08-14            209.75         20748010.0                 0.00
2018-08-15            210.24         28807564.0                 0.00
2018-08-16            213.32         28500367.0                 0.00
2018-08-17            217.58         35426997.0                 0.00

            EOD/AAPL - Split  EOD/AAPL - Adj_Open  EOD/AAPL - Adj_High  \
Date
2015-01-02               1.0           104.246170           104.292963
2015-01-05               1.0           101.344983           101.681895
2015-01-06               1.0            99.707217           100.540138
2015-01-07               1.0           100.324889           101.260755
2015-01-08               1.0           102.224698           104.957428
2015-01-09               1.0           105.444079           105.986881
2015-01-12               1.0           105.378568           105.406644
2015-01-13               1.0           104.283604           105.565741
2015-01-14               1.0           102.046883           103.403890
2015-01-15               1.0           102.945315           103.001467
2015-01-16               1.0           100.165792           100.680518
2015-01-19               NaN                  NaN                  NaN
2015-01-20               1.0           100.923844           101.978284
2015-01-21               1.0           101.962655           103.937334
2015-01-22               1.0           103.188640           105.256905
2015-01-23               1.0           105.097808           106.454815
2015-01-26               1.0           106.445456           107.028126
2015-01-27               1.0           105.210112           105.266264
2015-01-28               1.0           110.081297           110.544551
2015-01-29               1.0           108.859991           111.545928
2015-01-30               1.0           110.806594           112.303980
2015-02-02               1.0           110.479041           111.527211
2015-02-03               1.0           110.900180           111.452342
2015-02-04               1.0           110.900180           112.781272
2015-02-05               1.0           112.762848           112.960150
2015-02-06               1.0           112.762848           112.978941
2015-02-09               1.0           111.381733           112.593732
2015-02-10               1.0           112.903778           114.764055
2015-02-11               1.0           115.346566           117.366564
2015-02-12               1.0           118.437632           119.771770
...                      ...                  ...                  ...
2018-07-09               1.0           188.835758           190.011622
2018-07-10               1.0           190.041517           190.609519
2018-07-11               1.0           187.839263           189.114677
2018-07-12               1.0           188.865653           190.739063
2018-07-13               1.0           190.410220           191.167556
2018-07-16               1.0           190.848678           191.974717
2018-07-17               1.0           189.084882           191.197451
2018-07-18               1.0           191.107766           191.127696
2018-07-19               1.0           189.025092           191.875067
2018-07-20               1.0           191.107766           191.755488
2018-07-23               1.0           190.011622           191.287135
2018-07-24               1.0           191.775418           192.981276
2018-07-25               1.0           192.383479           194.167005
2018-07-26               1.0           193.927846           195.273114
2018-07-27               1.0           194.306514           194.505813
2018-07-30               1.0           191.227346           191.526294
2018-07-31               1.0           189.632954           191.466504
2018-08-01               1.0           198.432003           201.052784
2018-08-02               1.0           199.876920           207.649579
2018-08-03               1.0           206.304311           208.008317
2018-08-06               1.0           207.270911           208.516530
2018-08-07               1.0           208.586284           208.765654
2018-08-08               1.0           205.327747           207.081577
2018-08-09               1.0           206.553435           209.044672
2018-08-10               1.0           207.360000           209.100000
2018-08-13               1.0           207.700000           210.952000
2018-08-14               1.0           210.155000           210.560000
2018-08-15               1.0           209.220000           210.740000
2018-08-16               1.0           211.750000           213.812100
2018-08-17               1.0           213.440000           217.950000

            EOD/AAPL - Adj_Low        ...         EOD/IBM - Adj_Open  \
Date                                  ...
2015-01-02          100.465269        ...                 140.316223
2015-01-05           98.649688        ...                 140.281429
2015-01-06           97.919712        ...                 138.889662
2015-01-07           99.852276        ...                 136.741121
2015-01-08          101.728689        ...                 135.906061
2015-01-09          103.141847        ...                 137.802344
2015-01-12          101.822275        ...                 138.306859
2015-01-13          101.925221        ...                 136.793313
2015-01-14          101.541515        ...                 134.705662
2015-01-15           99.819521        ...                 136.297496
2015-01-16           98.453156        ...                 133.801013
2015-01-19                 NaN        ...                        NaN
2015-01-20           99.669782        ...                 136.306194
2015-01-21          101.326266        ...                 133.113828
2015-01-22          102.683273        ...                 132.165687
2015-01-23          104.377191        ...                 134.853537
2015-01-26          105.565741        ...                 137.663167
2015-01-27          102.037525        ...                 134.775250
2015-01-28          107.914766        ...                 133.957587
2015-01-29          108.148733        ...                 131.678568
2015-01-30          109.356001        ...                 133.879300
2015-02-02          108.635384        ...                 133.957587
2015-02-03          110.067259        ...                 134.609978
2015-02-04          110.721430        ...                 136.749820
2015-02-05          112.039407        ...                 136.819408
2015-02-06          111.287780        ...                 137.823526
2015-02-09          111.268989        ...                 136.649740
2015-02-10          112.894383        ...                 137.297950
2015-02-11          115.092892        ...                 138.191429
2015-02-12          117.977261        ...                 139.032351
...                        ...        ...                        ...
2018-07-09          188.636459        ...                 141.060232
2018-07-10          189.513474        ...                 142.959633
2018-07-11          186.952383        ...                 142.455105
2018-07-12          188.646424        ...                 144.285257
2018-07-13          190.230851        ...                 144.878820
2018-07-16          189.747551        ...                 144.107188
2018-07-17          188.536810        ...                 143.197058
2018-07-18          189.264251        ...                 141.970361
2018-07-19          189.025092        ...                 146.263800
2018-07-20          189.503410        ...                 146.985968
2018-07-23          188.895548        ...                 144.779893
2018-07-24          191.376820        ...                 145.126138
2018-07-25          191.755488        ...                 144.443540
2018-07-26          192.931352        ...                 145.848306
2018-07-27          189.433655        ...                 145.314099
2018-07-30          188.407265        ...                 143.246522
2018-07-31          188.676319        ...                 144.176437
2018-08-01          196.618382        ...                 143.206951
2018-08-02          199.647726        ...                 141.327335
2018-08-03          204.760043        ...                 141.703258
2018-08-06          206.344171        ...                 145.373456
2018-08-07          206.035258        ...                 145.076674
2018-08-08          203.803110        ...                 145.749379
2018-08-09          206.473716        ...                 145.530000
2018-08-10          206.670000        ...                 144.500000
2018-08-13          207.700000        ...                 144.150000
2018-08-14          208.260000        ...                 143.000000
2018-08-15          208.330000        ...                 142.550000
2018-08-16          211.470000        ...                 144.370000
2018-08-17          213.160000        ...                 144.790000

            EOD/IBM - Adj_High  EOD/IBM - Adj_Low  EOD/IBM - Adj_Close  \
Date
2015-01-02          142.055932         140.046568           140.968614
2015-01-05          140.281429         138.472132           138.750485
2015-01-06          139.141920         134.975317           135.758186
2015-01-07          136.741121         133.983683           134.870934
2015-01-08          138.345133         135.305862           137.802344
2015-01-09          139.472464         136.784614           138.402543
2015-01-12          138.524323         135.488531           136.080032
2015-01-13          139.150618         135.418943           136.401878
2015-01-14          136.123525         133.731425           135.523325
2015-01-15          136.541055         134.096764           134.453404
2015-01-16          137.115159         133.801013           136.688930
2015-01-19                 NaN                NaN                  NaN
2015-01-20          136.854202         133.983683           136.523658
2015-01-21          134.392514         131.408914           132.296165
2015-01-22          135.453737         132.009113           135.166685
2015-01-23          137.089063         134.731758           135.584215
2015-01-26          138.706992         135.497229           136.010444
2015-01-27          134.905728         132.731092           133.670535
2015-01-28          134.418610         131.826444           131.826444
2015-01-29          135.331957         130.060639           135.244972
2015-01-30          135.036207         133.122527           133.357388
2015-02-02          134.531691         131.791649           134.531691
2015-02-03          137.958918         134.609978           137.845837
2015-02-04          138.054602         136.306194           136.532356
2015-02-05          137.950219         136.697716           137.358718
2015-02-06          138.471737         136.851211           137.280431
2015-02-09          137.963680         136.124164           136.430750
2015-02-10          138.892197         135.843857           138.892197
2015-02-11          139.356456         137.674613           138.576852
2015-02-12          139.715600         138.480496           138.857159
...                        ...                ...                  ...
2018-07-09          143.167380         140.941519           142.840920
2018-07-10          144.028046         142.707369           143.157487
2018-07-11          144.621609         142.455105           143.385020
2018-07-12          145.254743         144.176437           144.878820
2018-07-13          145.403035         144.235793           144.334721
2018-07-16          144.225901         142.662852           143.899441
2018-07-17          143.444376         141.802185           141.950576
2018-07-18          143.246522         141.203775           142.969526
2018-07-19          148.924941         145.670237           147.638888
2018-07-20          147.262964         144.690858           144.779893
2018-07-23          145.126138         143.459215           144.136866
2018-07-24          145.462490         144.354506           144.809571

### Step 7. Good, now we know  the data available. Create a dataFrame called vol, with the Volume values.

In [72]:
vol=df[['EOD/AAPL - Volume','EOD/IBM - Adj_Volume','SSE/TL0 - Volume']]
vol.tail()

            EOD/AAPL - Volume  EOD/IBM - Adj_Volume  SSE/TL0 - Volume
Date
2018-08-13         25890880.0             2858561.0            1767.0
2018-08-14         20748010.0             2860006.0             284.0
2018-08-15         28807564.0             4241068.0             522.0
2018-08-16         28500367.0             5250878.0             203.0
2018-08-17         35426997.0             2678645.0             349.0

In [73]:
vol.rename(columns={'EOD/AAPL - Volume':'AAPL','EOD/IBM - Adj_Volume':'IBM','SSE/TL0 - Volume':'TL0'},inplace=True)

C:\Users\raghu\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [74]:
vol.resample('W').sum().head()

                   AAPL         IBM  TL0
Date
2015-01-04   53204626.0   5525341.0  0.0
2015-01-11  282868187.0  24440360.0  0.0
2015-01-18  304226647.0  23272056.0  0.0
2015-01-25  198737041.0  31230797.0  0.0
2015-02-01  465842684.0  32927307.0  0.0

### Step 9. Find all the volume traded in the year of 2015

In [75]:
z=vol.groupby(vol.index.year).sum()
z[z.index==2015]

              AAPL           IBM  TL0
Date
2015  1.306432e+10  1.105546e+09  0.0

### BONUS: Create your own question and answer it.